flow_node/flows.json
[
    {
        "id": "8050f91c7a5b6e89",
        "type": "tab",
        "label": "Blanes",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "712e3ecadde6481a",
        "type": "mqtt out",
        "z": "8050f91c7a5b6e89",
        "name": "Contro Aire Set",
        "topic": "dispositivos/BlanesAAControl/set",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8be7297a9b02cb9a",
        "x": 900,
        "y": 180,
        "wires": []
    },
    {
        "id": "b55ac0edda80ad98",
        "type": "server-state-changed",
        "z": "8050f91c7a5b6e89",
        "name": "Control AA",
        "server": "ca7973f797bb71cc",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.control_aa_blanes",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 100,
        "y": 120,
        "wires": [
            [
                "42a6d407d1c9ae67"
            ],
            [
                "3d5b885065e71320"
            ]
        ]
    },
    {
        "id": "d4099d77e92505f6",
        "type": "mqtt out",
        "z": "8050f91c7a5b6e89",
        "name": "Contro Aire temperatura",
        "topic": "dispositivos/BlanesAAControl/Temperature",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8be7297a9b02cb9a",
        "x": 630,
        "y": 340,
        "wires": []
    },
    {
        "id": "92d90ed0e8621da0",
        "type": "bigtimer",
        "z": "8050f91c7a5b6e89",
        "outtopic": "timer/matrix",
        "outpayload1": "enable",
        "outpayload2": "disable",
        "name": "Temporizado por horas",
        "comment": "",
        "lat": 0,
        "lon": 0,
        "starttime": "660",
        "endtime": "1200",
        "starttime2": "0",
        "endtime2": "0",
        "startoff": "0",
        "endoff": "0",
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "on",
        "outtext2": "off",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "day7": 0,
        "month7": 0,
        "day8": 0,
        "month8": 0,
        "day9": 0,
        "month9": 0,
        "day10": 0,
        "month10": 0,
        "day11": 0,
        "month11": 0,
        "day12": 0,
        "month12": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xday7": 0,
        "xmonth7": 0,
        "xday8": 0,
        "xmonth8": 0,
        "xday9": 0,
        "xmonth9": 0,
        "xday10": 0,
        "xmonth10": 0,
        "xday11": 0,
        "xmonth11": 0,
        "xday12": 0,
        "xmonth12": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": false,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 490,
        "y": 120,
        "wires": [
            [
                "712e3ecadde6481a"
            ],
            [],
            []
        ]
    },
    {
        "id": "42a6d407d1c9ae67",
        "type": "change",
        "z": "8050f91c7a5b6e89",
        "name": "Set Auto",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "auto",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 100,
        "wires": [
            [
                "92d90ed0e8621da0"
            ]
        ]
    },
    {
        "id": "3d5b885065e71320",
        "type": "change",
        "z": "8050f91c7a5b6e89",
        "name": "Set Stop",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 160,
        "wires": [
            [
                "92d90ed0e8621da0"
            ]
        ]
    },
    {
        "id": "d597824544de2285",
        "type": "comment",
        "z": "8050f91c7a5b6e89",
        "name": "Control Aire Acondicionado Blanes",
        "info": "",
        "x": 220,
        "y": 40,
        "wires": []
    },
    {
        "id": "8f6c79a1d05e1c40",
        "type": "template",
        "z": "8050f91c7a5b6e89",
        "name": "V1.0",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "V1.0",
        "output": "str",
        "x": 550,
        "y": 400,
        "wires": [
            [
                "483147a9afe81020"
            ]
        ]
    },
    {
        "id": "483147a9afe81020",
        "type": "mqtt out",
        "z": "8050f91c7a5b6e89",
        "name": "Contro Aire Version flow",
        "topic": "dispositivos/BlanesAAControl/version_flow",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8be7297a9b02cb9a",
        "x": 830,
        "y": 400,
        "wires": []
    },
    {
        "id": "01303c76a86a4412",
        "type": "api-current-state",
        "z": "8050f91c7a5b6e89",
        "name": "Temp.Blanes Salon",
        "server": "ca7973f797bb71cc",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.blanessensor_temperature_2",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 310,
        "y": 280,
        "wires": [
            [
                "71401d0cef7cde88",
                "d4099d77e92505f6",
                "8f6c79a1d05e1c40"
            ]
        ]
    },
    {
        "id": "701e9010bb77db40",
        "type": "inject",
        "z": "8050f91c7a5b6e89",
        "name": "60 minutos",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "01303c76a86a4412",
                "f9030c1f6d17a7e4"
            ]
        ]
    },
    {
        "id": "440113bcdd685f14",
        "type": "debug",
        "z": "8050f91c7a5b6e89",
        "name": "Control AA",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 280,
        "wires": []
    },
    {
        "id": "71401d0cef7cde88",
        "type": "switch",
        "z": "8050f91c7a5b6e89",
        "name": "22 grados",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "22",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "22",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 540,
        "y": 280,
        "wires": [
            [
                "9883509a6183dcef"
            ],
            [
                "de89310548defd58"
            ]
        ]
    },
    {
        "id": "de89310548defd58",
        "type": "change",
        "z": "8050f91c7a5b6e89",
        "name": "timer",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "timer",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 300,
        "wires": [
            [
                "712e3ecadde6481a",
                "440113bcdd685f14"
            ]
        ]
    },
    {
        "id": "9883509a6183dcef",
        "type": "change",
        "z": "8050f91c7a5b6e89",
        "name": "adjust",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "adjust",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 260,
        "wires": [
            [
                "712e3ecadde6481a",
                "440113bcdd685f14"
            ]
        ]
    },
    {
        "id": "f9030c1f6d17a7e4",
        "type": "delay",
        "z": "8050f91c7a5b6e89",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 130,
        "y": 360,
        "wires": [
            [
                "21be82bf623bb927"
            ]
        ]
    },
    {
        "id": "21be82bf623bb927",
        "type": "api-current-state",
        "z": "8050f91c7a5b6e89",
        "name": "Temp.Blanes Habitación",
        "server": "ca7973f797bb71cc",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.blanessensor2_temperature",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 330,
        "y": 360,
        "wires": [
            [
                "71401d0cef7cde88",
                "d4099d77e92505f6",
                "8f6c79a1d05e1c40"
            ]
        ]
    },
    {
        "id": "df63737ce74139b8",
        "type": "inject",
        "z": "8050f91c7a5b6e89",
        "name": "95 minutos",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5700",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "c5dfa204cb170b7d"
            ]
        ]
    },
    {
        "id": "c5dfa204cb170b7d",
        "type": "template",
        "z": "8050f91c7a5b6e89",
        "name": "alive",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "alive",
        "output": "str",
        "x": 430,
        "y": 200,
        "wires": [
            [
                "712e3ecadde6481a",
                "440113bcdd685f14"
            ]
        ]
    },
    {
        "id": "8be7297a9b02cb9a",
        "type": "mqtt-broker",
        "name": "Mqtt TLS Artemisa",
        "broker": "192.168.1.140",
        "port": "8883",
        "tls": "d7744094d8a1302c",
        "clientid": "mqtt-nodered",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ca7973f797bb71cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": ": ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "default",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": false
    },
    {
        "id": "d7744094d8a1302c",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "client.crt",
        "keyname": "client.key",
        "caname": "ca.crt",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    }
]