flow_node/flows.json
[
    {
        "id": "8050f91c7a5b6e89",
        "type": "tab",
        "label": "Blanes",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "712e3ecadde6481a",
        "type": "mqtt out",
        "z": "8050f91c7a5b6e89",
        "name": "Contro Aire Set",
        "topic": "dispositivos/BlanesAAControl/set",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8be7297a9b02cb9a",
        "x": 1230,
        "y": 120,
        "wires": []
    },
    {
        "id": "b55ac0edda80ad98",
        "type": "server-state-changed",
        "z": "8050f91c7a5b6e89",
        "name": "Control AA",
        "server": "ca7973f797bb71cc",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.control_aa_blanes",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 160,
        "wires": [
            [
                "42a6d407d1c9ae67"
            ],
            [
                "3d5b885065e71320"
            ]
        ]
    },
    {
        "id": "d4099d77e92505f6",
        "type": "mqtt out",
        "z": "8050f91c7a5b6e89",
        "name": "Contro Aire temperatura Salon actual",
        "topic": "dispositivos/BlanesAAControl/Temperature/actual",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8be7297a9b02cb9a",
        "x": 580,
        "y": 480,
        "wires": []
    },
    {
        "id": "92d90ed0e8621da0",
        "type": "bigtimer",
        "z": "8050f91c7a5b6e89",
        "outtopic": "timer/matrix",
        "outpayload1": "enable",
        "outpayload2": "disable",
        "name": "Temporizado por horas",
        "comment": "",
        "lat": 0,
        "lon": 0,
        "starttime": "660",
        "endtime": "1320",
        "starttime2": "0",
        "endtime2": "0",
        "startoff": "0",
        "endoff": "0",
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "on",
        "outtext2": "off",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": "6",
        "day2": 0,
        "month2": "7",
        "day3": 0,
        "month3": "8",
        "day4": 0,
        "month4": "9",
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "day7": 0,
        "month7": 0,
        "day8": 0,
        "month8": 0,
        "day9": 0,
        "month9": 0,
        "day10": 0,
        "month10": 0,
        "day11": 0,
        "month11": 0,
        "day12": 0,
        "month12": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xday7": 0,
        "xmonth7": 0,
        "xday8": 0,
        "xmonth8": 0,
        "xday9": 0,
        "xmonth9": 0,
        "xday10": 0,
        "xmonth10": 0,
        "xday11": 0,
        "xmonth11": 0,
        "xday12": 0,
        "xmonth12": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": false,
        "atstart": false,
        "odd": false,
        "even": false,
        "x": 510,
        "y": 160,
        "wires": [
            [
                "712e3ecadde6481a"
            ],
            [],
            []
        ]
    },
    {
        "id": "42a6d407d1c9ae67",
        "type": "change",
        "z": "8050f91c7a5b6e89",
        "name": "Set Auto",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "auto",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 140,
        "wires": [
            [
                "92d90ed0e8621da0"
            ]
        ]
    },
    {
        "id": "3d5b885065e71320",
        "type": "change",
        "z": "8050f91c7a5b6e89",
        "name": "Set Stop",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 200,
        "wires": [
            [
                "92d90ed0e8621da0"
            ]
        ]
    },
    {
        "id": "d597824544de2285",
        "type": "comment",
        "z": "8050f91c7a5b6e89",
        "name": "Control Aire Acondicionado Blanes",
        "info": "",
        "x": 220,
        "y": 40,
        "wires": []
    },
    {
        "id": "8f6c79a1d05e1c40",
        "type": "template",
        "z": "8050f91c7a5b6e89",
        "name": "V1.2",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "V1.2",
        "output": "str",
        "x": 870,
        "y": 40,
        "wires": [
            [
                "483147a9afe81020"
            ]
        ]
    },
    {
        "id": "483147a9afe81020",
        "type": "mqtt out",
        "z": "8050f91c7a5b6e89",
        "name": "Contro Aire Version flow",
        "topic": "dispositivos/BlanesAAControl/version_flow",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8be7297a9b02cb9a",
        "x": 1270,
        "y": 40,
        "wires": []
    },
    {
        "id": "01303c76a86a4412",
        "type": "api-current-state",
        "z": "8050f91c7a5b6e89",
        "name": "Temp.Blanes Salon",
        "server": "ca7973f797bb71cc",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.blanessensor_temperature_2",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 370,
        "y": 340,
        "wires": [
            [
                "56388382ee2658b9"
            ]
        ]
    },
    {
        "id": "701e9010bb77db40",
        "type": "inject",
        "z": "8050f91c7a5b6e89",
        "name": "60 minutos",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "379b32dc96a69441",
                "59db56f6216442c3"
            ]
        ]
    },
    {
        "id": "440113bcdd685f14",
        "type": "debug",
        "z": "8050f91c7a5b6e89",
        "name": "Control AA",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 220,
        "wires": []
    },
    {
        "id": "de89310548defd58",
        "type": "change",
        "z": "8050f91c7a5b6e89",
        "name": "off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 320,
        "wires": [
            [
                "712e3ecadde6481a",
                "440113bcdd685f14",
                "f465cf920cc83d03"
            ]
        ]
    },
    {
        "id": "9883509a6183dcef",
        "type": "change",
        "z": "8050f91c7a5b6e89",
        "name": "adjust",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "adjust",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 240,
        "wires": [
            [
                "712e3ecadde6481a",
                "440113bcdd685f14",
                "61a56137d901e3b5",
                "29e296df675b6b46"
            ]
        ]
    },
    {
        "id": "df63737ce74139b8",
        "type": "inject",
        "z": "8050f91c7a5b6e89",
        "name": "95 minutos",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5700",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 620,
        "y": 60,
        "wires": [
            [
                "7094b49890775a08",
                "8f6c79a1d05e1c40"
            ]
        ]
    },
    {
        "id": "61a56137d901e3b5",
        "type": "api-call-service",
        "z": "8050f91c7a5b6e89",
        "name": "Notificación",
        "server": "ca7973f797bb71cc",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_iphone_cristian",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\":\"Temperatura AC ajustada\",\"title\":\"Control AA Blanes\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1230,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "f465cf920cc83d03",
        "type": "api-call-service",
        "z": "8050f91c7a5b6e89",
        "name": "Notificación",
        "server": "ca7973f797bb71cc",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_iphone_cristian",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\":\"Orden desconexión AC\",\"title\":\"Control AA Blanes\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1230,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "a0965e7864a865eb",
        "type": "server-state-changed",
        "z": "8050f91c7a5b6e89",
        "name": "Desconexión AC",
        "server": "ca7973f797bb71cc",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_button.desconexion_ac_blanes",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 870,
        "y": 480,
        "wires": [
            [
                "de89310548defd58"
            ]
        ]
    },
    {
        "id": "8bc6e0872e8d4437",
        "type": "change",
        "z": "8050f91c7a5b6e89",
        "name": "dry",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "dry",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 280,
        "wires": [
            [
                "712e3ecadde6481a",
                "440113bcdd685f14",
                "fb1450b70c392f8c",
                "29e296df675b6b46"
            ]
        ]
    },
    {
        "id": "4cbfe21fc0cab38a",
        "type": "server-state-changed",
        "z": "8050f91c7a5b6e89",
        "name": "Mode dry Ac",
        "server": "ca7973f797bb71cc",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_button.mode_dry_ac",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 850,
        "y": 420,
        "wires": [
            [
                "8bc6e0872e8d4437"
            ]
        ]
    },
    {
        "id": "56388382ee2658b9",
        "type": "function",
        "z": "8050f91c7a5b6e89",
        "name": "Calculate diferencia Temp",
        "func": "var actualTemp = context.get('actualTemp') || 0;\nvar lastTemp = context.get('lastTemp') || 0;\nvar lastTemp2 = context.get('lastTemp2') || 0;\nvar msg1 = { payload: 0 };\nvar msg2 = { payload: 0 };\nvar msg3 = { payload: 0 }\n\n\nlastTemp2 = lastTemp;\nlastTemp = actualTemp;\ncontext.set('lastTemp2', lastTemp2);\ncontext.set('lastTemp', lastTemp);\n\nactualTemp = msg.payload;\ncontext.set('actualTemp', actualTemp);\n\n\nif ((lastTemp > actualTemp) && (actualTemp < 28)) {\n    msg.payload = lastTemp2 - actualTemp;\n} else {\n    msg.payload = 0;\n}\n\nmsg1.payload = lastTemp;\nmsg2.payload = lastTemp2;\nmsg3.payload = actualTemp;\n\n\nreturn [msg, msg1, msg2, msg3];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 260,
        "wires": [
            [
                "71401d0cef7cde88"
            ],
            [
                "2ae53c66c45fb189"
            ],
            [
                "fda187e2da262508"
            ],
            [
                "d4099d77e92505f6"
            ]
        ],
        "outputLabels": [
            "Diferencia Temperatura",
            "Última Temperatura",
            "Penúltima temperatura",
            "Temperatura actual"
        ]
    },
    {
        "id": "71401d0cef7cde88",
        "type": "switch",
        "z": "8050f91c7a5b6e89",
        "name": "accion",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "gte",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 700,
        "y": 280,
        "wires": [
            [
                "9883509a6183dcef"
            ],
            [
                "8bc6e0872e8d4437"
            ],
            [
                "de89310548defd58"
            ],
            [
                "d72d122b1f39d684"
            ]
        ]
    },
    {
        "id": "1ba760a1bdd7a827",
        "type": "change",
        "z": "8050f91c7a5b6e89",
        "name": "timer",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "timer",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 160,
        "wires": [
            [
                "712e3ecadde6481a",
                "440113bcdd685f14"
            ]
        ]
    },
    {
        "id": "29e296df675b6b46",
        "type": "delay",
        "z": "8050f91c7a5b6e89",
        "name": "",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 880,
        "y": 200,
        "wires": [
            [
                "1ba760a1bdd7a827"
            ]
        ]
    },
    {
        "id": "7094b49890775a08",
        "type": "change",
        "z": "8050f91c7a5b6e89",
        "name": "alive",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "alive",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 80,
        "wires": [
            [
                "712e3ecadde6481a",
                "440113bcdd685f14"
            ]
        ]
    },
    {
        "id": "fda187e2da262508",
        "type": "mqtt out",
        "z": "8050f91c7a5b6e89",
        "name": "Contro Aire temperatura last 2",
        "topic": "dispositivos/BlanesAAControl/Temperature/last2",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8be7297a9b02cb9a",
        "x": 560,
        "y": 440,
        "wires": []
    },
    {
        "id": "2ae53c66c45fb189",
        "type": "mqtt out",
        "z": "8050f91c7a5b6e89",
        "name": "Contro Aire temperatura last 1",
        "topic": "dispositivos/BlanesAAControl/Temperature/last1",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8be7297a9b02cb9a",
        "x": 560,
        "y": 400,
        "wires": []
    },
    {
        "id": "fb1450b70c392f8c",
        "type": "api-call-service",
        "z": "8050f91c7a5b6e89",
        "name": "Notificación",
        "server": "ca7973f797bb71cc",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_iphone_cristian",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\":\"Mode Dry\",\"title\":\"Control AA Blanes\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1230,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "d72d122b1f39d684",
        "type": "change",
        "z": "8050f91c7a5b6e89",
        "name": "null",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "null",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 360,
        "wires": [
            [
                "712e3ecadde6481a",
                "440113bcdd685f14"
            ]
        ]
    },
    {
        "id": "379b32dc96a69441",
        "type": "api-current-state",
        "z": "8050f91c7a5b6e89",
        "name": "Is control AA active?",
        "server": "ca7973f797bb71cc",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.control_aa_blanes",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 160,
        "y": 400,
        "wires": [
            [
                "01303c76a86a4412"
            ],
            []
        ]
    },
    {
        "id": "74aa019eca678cc4",
        "type": "mqtt out",
        "z": "8050f91c7a5b6e89",
        "name": "TimeStamp",
        "topic": "dispositivos/BlanesAAControl/TimeStamp",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8be7297a9b02cb9a",
        "x": 490,
        "y": 540,
        "wires": []
    },
    {
        "id": "59db56f6216442c3",
        "type": "moment",
        "z": "8050f91c7a5b6e89",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Madrid",
        "adjAmount": "2",
        "adjType": "hours",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Madrid",
        "x": 200,
        "y": 520,
        "wires": [
            [
                "74aa019eca678cc4"
            ]
        ]
    },
    {
        "id": "8be7297a9b02cb9a",
        "type": "mqtt-broker",
        "name": "Mqtt TLS Artemisa",
        "broker": "192.168.1.140",
        "port": "8883",
        "tls": "d7744094d8a1302c",
        "clientid": "mqtt-nodered",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ca7973f797bb71cc",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": ": ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "default",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": false
    },
    {
        "id": "d7744094d8a1302c",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "client.crt",
        "keyname": "client.key",
        "caname": "ca.crt",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    }
]